---
import Container from "@components/shared/Container.astro";
import Paragraph from "@components/shared/Paragraph.astro";
import Title from "@components/shared/Title.astro";

---

<section id="about-us">
    <Container className="flex flex-col midmd:flex-row gap-10 lg:gap-12">
        <div class="max-w-md mx-auto midmd:max-w-none lg:mx-0  lg:pr-10 xl:pr-2 flex-1 flex w-11/12 midmd:w-5/12 lg:w-1/2 midmd:h-auto">
            <div class="w-full h-80 sm:h-96 midmd:h-full relative">
                <div class="absolute rotate-45 -left-5 md:-left-10 lg:-left-20 xl:-left-24 p-1 top-1/2 w-16 h-16 bg-gradient-to-br from-primary to-orange-400 blur-3xl opacity-50"></div>
                <div class="absolute  p-1 -top-4 md:-top-10 right-0 w-20 h-20 bg-gradient-to-br from-primary to-orange-400 rounded-full blur-3xl opacity-60"></div>
                
                <span class="absolute w-full aspect-[16/5] -skew-x-12 rounded-full bg-gradient-to-tr from-primary to-green-400 opacity-40 blur-2xl left-0 bottom-0"></span>
                <img src={"/images/skoovify/dev-with-c-1.webp"} alt="banner image" 
                width="1240" height="1385"
                class=" w-auto left-1/2 -translate-x-1/2 absolute bottom-0 max-h-full" />
            </div>
        </div>
        <div class="flex-1 flex midmd:w-7/12 lg:w-1/2 flex-col">
            <Title>
                You create
            </Title>
            <Paragraph className="mt-8">
                At Skivoofy, there are no limits to your imagination. From short posts filled with brilliant thoughts to stunning 
                images that tell your story, our platform offers you the perfect space to share your unique vision with the world.
            </Paragraph>
        </div>
        <div class="flex-1 flex midmd:w-7/12 lg:w-1/2 flex-col">
            <Title>
                And we'll help you
            </Title>
            <Paragraph className="mt-8">
                And that's not all: Our artificial intelligence is here to boost your creativity like never before! With Skivoofy, 
                you can enhance your posts with smart suggestions and advanced editing tools, taking your content to the next level.
            </Paragraph>        
        </div>
    </Container>
</section>