---
import Service from "@components/cards/Service.astro";
import Container from "@components/shared/Container.astro";
import Title from "@components/shared/Title.astro";
import { servicesSkoovify } from "@utils/data.ts";


type ServicesProps = {
    title: string;
    description: string;
    icon: string
};


---

<section id="services">
    <Container className="space-y-10 md:sapce-y-12">
        <div class="text-center max-w-3xl mx-auto space-y-4">
            <Title>
                <span class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-20% via-primary via-30% to-green-600">skoovify</span>
                - social network
            </Title>
        </div>
        <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-6 lg:gap-8">
            {
                    servicesSkoovify.map((service: ServicesProps) => {
                    return (
                            <Service title={service.title} description={service.description} icon={service.icon}>
                            </Service>
                            );
                    })
            }
        </div>
    </Container>
</section>