---
import Layout from '@layouts/Layout.astro';
import Search from '@components/sections/shortcut/Search.astro';
import ChatComponent from "@components/sections/shortcut/ChatComponent.jsx";
import CTA from '@components/sections/CTA.astro';
---

<Layout title="Welcome to garaje88 - ShortCuts">
	<main class="flex flex-col gap-y-2 md:gap-y-30 overflow-hidden">
		
		<Search/>
		<ChatComponent client:load />
		<CTA/>
	</main>
</Layout>
