---
import Layout from '@layouts/Layout.astro';
import Search from '@components/sections/shortcut/Search.astro';
import ChatComponent from "@components/sections/shortcut/ChatComponent.jsx";

//const isProd = import.meta.env.OPENAI_API_KEY2;
---

<Layout title="Welcome to garaje88 - ShortCuts">
	<main class="flex flex-col gap-y-20 md:gap-y-30 overflow-hidden">
		
		<Search/>
		<ChatComponent client:load />
		<!--<p>{isProd}</p> -->

	</main>
</Layout>
